---
layout: outer
---
<header>
  <h1><a href="/">{{ site.title }}</a></h1>
</header>

<section id="about">
  <div id="content">
    <p>{{ site.description }}</p>

    <div class="social">
      <h4>Find me on:</h4>
      <ul class="links">
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <span class="fa fa-brands fa-twitter"></span>
            <span class="linkText">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="fa fa-brands fa-github"></span>
            <span class="linkText">GitHub</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <span class="fa fa-brands fa-linkedin"></span>
            <span class="linkText">LinkedIn</a>
        </li>
        <li>
          <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
            <span class="fa fa-brands fa-instagram"></span>
            <span class="linkText">Instagram</a>
        </li>
        <li>
          <a href="https://{{ site.itch_username }}.itch.io/" target="_blank">
            <span class="fa fa-brands fa-itch-io"></span>
            <span class="linkText">Itch</a>
        </li>
        <li>
          <a href="https://getpocket.com/@{{ site.pocket_username }}" target="_blank">
            <span class="fa fa-brands fa-get-pocket"></span>
            <span class="linkText">Pocket</a>
        </li>
      </ul>
    </div>

    <p><a href="/feed.xml">Subscribe via RSS</a></p>

    <img src="/assets/images/avatar.jpg" alt="Profile photo of Trevor Vallender"
      id="avatar">
  </div>
</section>

{{ content }}

</body>
</html>